@font-face {
    font-family: 'HelveticaUltraCompressedRoman';
    src: url('helveticaultracomp.eot');
    src: url('helveticaultracomp.eot') format('embedded-opentype'),
         url('helveticaultracomp.woff') format('woff'),
         url('helveticaultracomp.ttf') format('truetype'),
         url('helveticaultracomp.svg#HelveticaUltraCompressedRoman') format('svg');
}
